/**
    Default theme for Portal 2 CMS

    File: default.css
    File Version: 1.0.0.1
    Filetype: CSS/Minimum
 */
body{font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;color:#000;background-color:#FFF;background-image:url(smokey_wisps.jpg);background-repeat:repeat;background-position:center top;background-attachment:scroll;margin:0;padding:0}
ul,ol,dl{color:#333;margin:0;padding:0}
h1,h2,h3,h4,h5,h6,p{margin-top:0;padding-right:15px;padding-left:15px}
a img{border:none}
a:hover,a:active,a:focus{text-decoration:none;color:#66F}
.container{width:80%;max-width:1366px;min-width:780px;color:#000;margin:0 auto}
.header{color:#000;background-image:url(whitetrans.png);background-repeat:repeat;text-align:center}
.content{width:56%;float:left;color:#000;background-color:rgba(255,255,255,0.5);border-color:#000;border-style:solid;border-width:1px;margin:0 15px;padding:10px 0}
.content section{border:1px solid #666;position:relative}
.content ul,.content ol{color:#000;padding:0 15px 15px 40px}
ul.nav{list-style:none;border-top:1px solid #666;margin-bottom:15px;color:#000}
ul.nav li{border-bottom:1px solid #666;color:#000}
ul.nav a,ul.nav a:visited{display:block;text-decoration:none;color:#339;padding:5px 5px 5px 15px}
ul.nav a:hover,ul.nav a:active,ul.nav a:focus{color:#66F}
.fltrt{float:right;margin-left:8px;color:#000}
.fltlft{float:left;margin-right:8px;color:#000}
.clearfloat{clear:both;height:0;font-size:1px;line-height:0;color:#000}
.footer{position:relative;clear:both;color:#000;padding:10px 0}
.copy{font-size:12px;text-align:center}
.ad{margin-left:auto;margin-right:auto;width:78%}
.form{margin-left:auto;margin-right:auto;width:93%}
.small{font-size:12px}
.smallinfo{font-size:12px;font-weight:100;font-style:italic;text-align:right;display:inline;float:right;position:absolute;right:10px;top:25px}
.smallinfo2{font-size:12px;font-weight:100;font-style:italic;text-align:right;display:inline;float:right;position:absolute;right:10px;bottom:1px}
a:link,a:visited{color:#339;text-decoration:none}
.sidebar1,.sidebar2{float:left;width:19%;color:#000;background-color:rgba(255,255,255,0.5);border-color:#000;border-style:solid;border-width:1px;padding:10px 0}
.sidebar3,.sidebar4{float:left;width:19%;color:#000;background-image:url(whitetrans2.png);background-repeat:repeat;border-color:#000;border-style:solid;border-width:1px;margin:15px 0;padding:10px 0}